# Port
PORT=5000

# MongoDB Atlas Connection
MONGODB_URI=

# Brevo (Sendinblue) Transactional Email (OTP Auth)
BREVO_API_KEY=
BREVO_SENDER_EMAIL=joy@joysfairycharms.com
BREVO_SENDER_NAME=Joy's Fairy Charms

# PayMongo Secret Key
PAYMONGO_SECRET_KEY=

# ImageKit.io Credentials (20 GB Free)
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/
